# Regras Globais
##########################################

# Configurações
.git/
.vs/
.vscode/

# JavaScript / Node.js
##########################################

# Dependency directories
node_modules/
dist/
build/
jspm_packages/
docs/

# Optional npm cache directory
.npm
