# Regras Globais
##########################################

# Configurações
.git/
.vs/
.vscode/

# JavaScript / Node.js
##########################################

# Directories
node_modules/
coverage/

# Optional npm cache directory
.npm

# SQLite database file
database.db
